RewriteEngine On

# Redirige todas las solicitudes de dominio/carpeta a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?nombre=$1 [L,QSA]
